.footer {
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #6e6967;
  background-color: #d7c2eb;
  border-top: 1px solid #e5e5e5;
  justify-content: space-evenly;
  align-items: baseline;
  background: rgba(0, 0, 0, 0.3);
}

.logo {
  height: 1em;
  text-align: center;
}

/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
